<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="THAGBAN_INST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/McSkin</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="db_max_instEntities" connectionString="metadata=res://*/DATA.Model1.csdl|res://*/DATA.Model1.ssdl|res://*/DATA.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=db_max_inst;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="THAGBAN_INST.Properties.Settings.db_max_instConnectionString" connectionString="Data Source=.;Initial Catalog=db_max_inst;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <THAGBAN_INST.Properties.Settings>
      <setting name="color" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="font" serializeAs="String">
        <value>ACS  Yaqout Bold, 11.25pt</value>
      </setting>
      <setting name="server_name" serializeAs="String">
        <value>.\sqlexpress</value>
      </setting>
      <setting name="inst_id" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NotificationDamagDuration" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="NotificationTime" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="IsFirstOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Start_Date" serializeAs="String">
        <value />
      </setting>
      <setting name="End_Date" serializeAs="String">
        <value />
      </setting>
      <setting name="ISActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="courncy" serializeAs="String">
        <value>ريال</value>
      </setting>
      <setting name="database_name" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="user_server_id" serializeAs="String">
        <value />
      </setting>
      <setting name="user_server_pass" serializeAs="String">
        <value />
      </setting>
      <setting name="ISfull_ACTIVE" serializeAs="String">
        <value>False</value>
      </setting>
    </THAGBAN_INST.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeviceId" publicKeyToken="f755c371b5c59c52" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.0" newVersion="6.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>